@model Portfolio

@{
    Layout = "_AdminLayout";
}

<div class="container">
    <form method="post" asp-action="AddPortfolio" asp-controller="Portfolio">
        <label style="color:white">Project Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" style="color:red"></span>
        <br />
        <label>Project Image</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <label>Project Tech Image</label>
        <input type="text" asp-for="TechImageUrl" class="form-control" />
        <br />
        <label>Completion</label>
        <input type="number" max="100" min="0" asp-for="Completion" class="form-control" />
        <br />
        <button class="btn btn-success">Add Portfolio</button>
    </form>
</div>