@model IEnumerable<Service>
@{
    Layout = "_AdminLayout";
}

<div class="card-header border-0">
    <h3>Service List Table</h3>
</div>
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-light">
            <tr class="text-center">
                <th scope="col" class="sort" data-sort="title">Name</th>
                <th scope="col" class="sort" data-sort="value">Date</th>
                <th scope="col" class="sort" data-sort="completion">Delete</th>
                <th scope="col" class="sort" data-sort="completion">Update</th>
                <th scope="col" class="sort" data-sort="completion">Passive</th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>@item.Title</td>
                    <td>@item.ImageUrl</td>
                    <td><a href="/Service/DeleteService/@item.ServiceId" class="btn btn-sm btn-danger">Delete</a></td>
                    <td><a href="/Service/UpdateService/@item.ServiceId" class="btn btn-sm btn-default">Update</a></td>
                    <td><a href="/Service/PassiveService/@item.ServiceId" class="btn btn-sm btn-warning">Passive</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Service/AddService/" class="btn btn-primary mb-2">Add New Service</a>
</div>