@model Service
@{
    Layout = "_AdminLayout";
}

<div class="container">
    <form method="post" asp-controller="Service" asp-action="UpdateService">
        <input type="hidden" asp-for="ServiceId" />
        <input type="hidden" asp-for="ServiceStatus" />

        <label style="color: white">Service Title</label>
        <input class="form-control" type="text" asp-for="Title" />
        <br />

        <label>Service Image Url</label>
        <input class="form-control" type="text" asp-for="ImageUrl" />
        <br />

        <button class="btn btn-success">Update</button>
    </form>
</div>